body {
    background: black;
    padding: 10px;
}

.title {
    background: url(../img/title-bg.png);
    width: 275px;
    height: 20px;
    text-indent: -999px;
    display: block;
    margin-bottom: 10px;
}

.beat {
    width: 35px;
    height: 35px;
    float: left;
    margin: 5px 10px 5px 0;
}

    .beat[data-active="on"] {
        background: white;
    }

    .beat[data-active="off"] {
        background: url(../img/grid-bg.png) repeat;
    }

td.bar {
    background: url(../img/bar-bg.png);
    background-position-x: right;
    background-repeat: repeat-y;
}

.bar[data-beat="16"] {
    background: none;
}

.increase, .decrease {
    display: block;
    float: left;
    width: 12px;
    height: 41px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999px;
}

.increase {
    margin-left: 5px;
    margin-right: 10px;
    background-image: url(../img/increase-bg.png);
}

.decrease {
    margin-left: 1px;
    background-image: url(../img/decrease-bg.png);
}

.container {
    width: 40px;
    height: 41px;
}

#play {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 154px;
    height: 30px;
    float: left;
    background-color: #00AFEA;
}

    #play[data-status="ready"] {
        background-image: url(../img/play-bg-on.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    #play[data-active="sending"] {
        background-image: url(../img/play-bg-sending.png);
    }

    #play[data-active="sent"] {
        background-image: url(../img/play-bg-sent.png);
    }

#collaborate {
    position: absolute;
    left: 428px;
    top: 13px;
    width: 137px;
    height: 14px;
}

    #collaborate[data-active="on"] {
        background-image: url(../img/collaborate-bg-on.png);
    }

    #collaborate[data-active="off"] {
        background-image: url(../img/collaborate-bg-off.png);
    }
